// Variables 
$color-fondo: rgb(243, 243, 222);
$color-rojo-oscuro: rgb(107, 0, 0);
$color-footer: rgba(209, 209, 175, 0.459);
$color-seccion: rgba(139, 0, 0, 0.164);
$color-header: darkred;
$color-blanco: white;
$color-boton-gradiente: linear-gradient(45deg, #ff416c, #ff4b2b);
$color-borde-seccion: #6d2f2f33;
$color-contacto: #f8f9fa;
$color-texto-destacado: #d32f2f;
$color-footer-fondo: #222222;
$color-borde: #ddd;
